$primary:   #4EE950 !default;
$secondary: #000 !default;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';

body {
    background-color: #000;
    font-family: "Inter";
    color: $primary;
}

h1 {
    font-weight: 100;
}

label {
    color: $primary;
}

.header {
    border-bottom: solid 3px $primary;

    &__brand {
        font-weight: bold;
    }
}

.btn-primary {
    color: $primary;
    background-color: $secondary;
    border-radius: 0 !important;
    border-width: 3px;
    border-color: $primary;

    &:hover {
        border-width: 3px;
        border-color: $primary;
        background-color: $primary;
        color: #000;
    }
}

.img-cont {
    width: 320px;
    height: 320px;
    margin: auto;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 320px;
        width: 320px;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            opacity: 1;
            color: #fff;
        }
    }
}

.custom-input {
    background-color: #000;
    color: $primary;
    border: solid 2px $primary;
    border-radius: 0;
}

.custom-input:focus, .custom-input:active {
    background-color: rgba(78, 233, 80, 0.15);
    border: solid 2px $primary;
    color: $primary;
}

.custom-select {
    background-color: #000;
    color: $primary;
    border: solid 2px $primary;
    border-radius: 0;
}