<template>
    <div>
        <b-row class="text-center justify-content-center">
            <b-col cols="12" class="my-4">
                <h1>477218u73 3xpl0232</h1>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="mb-5" cols="12">
                <div class="text-center my-4">
                    <b-form-checkbox v-model="showWireframe" switch size="lg">Show the Wireframe</b-form-checkbox>
                </div>
                <div class="text-center">
                    <b-button class="mx-1 mb-1" variant="primary" @click="type = 'bg'">BGs</b-button>
                    <b-button class="mx-1 mb-1" variant="primary" @click="type = 'skull'">Skull</b-button>
                    <b-button class="mx-1 mb-1" variant="primary" @click="type = 'faceacc'">Face Acc</b-button>
                    <b-button class="mx-1 mb-1" variant="primary" @click="type = 'eyeacc'">Eye Acc</b-button>
                    <b-button class="mx-1 mb-1" variant="primary" @click="type = 'headacc'">Head Acc</b-button>
                    <b-button class="mx-1 mb-1" variant="primary" @click="type = 'special'">Special</b-button>
                </div>
            </b-col>
        </b-row>
        <b-row class="text-center justify-content-center">
            <template v-if="type == 'bg'">
                <skull-attribute
                    v-for="attribute in skullData.bgs" 
                    :key="attribute.name" 
                    cols="12" 
                    md="4" 
                    lg="3" 
                    :attribute="attribute"
                    :bg-mode="true"
                    :show-wireframe="showWireframe"
                />
            </template>
            <template v-if="type == 'skull'">
                <skull-attribute
                    v-for="attribute in skullData.skulls" 
                    :key="attribute.name" 
                    cols="12" 
                    md="4" 
                    lg="3" 
                    :attribute="attribute"
                    :bg-mode="false"
                    :show-wireframe="showWireframe"
                />
            </template>
            <template v-if="type == 'faceacc'">
                <skull-attribute
                    v-for="attribute in skullData.faceaccs" 
                    :key="attribute.name" 
                    cols="12" 
                    md="4" 
                    lg="3" 
                    :attribute="attribute"
                    :bg-mode="false"
                    :show-wireframe="showWireframe"
                />
            </template>
            <template v-if="type == 'eyeacc'">
                <skull-attribute
                    v-for="attribute in skullData.eyeaccs" 
                    :key="attribute.name" 
                    cols="12" 
                    md="4" 
                    lg="3" 
                    :attribute="attribute"
                    :bg-mode="false"
                    :show-wireframe="showWireframe"
                />
            </template>
            <template v-if="type == 'headacc'">
                <skull-attribute
                    v-for="attribute in skullData.headaccs" 
                    :key="attribute.name" 
                    cols="12" 
                    md="4" 
                    lg="3" 
                    :attribute="attribute"
                    :bg-mode="false"
                    :show-wireframe="showWireframe"
                />
            </template>
            <template v-if="type == 'special'">
                <skull-attribute
                    v-for="attribute in skullData.specials" 
                    :key="attribute.name" 
                    cols="12" 
                    md="4" 
                    lg="3" 
                    :attribute="attribute"
                    :bg-mode="false"
                    :show-wireframe="showWireframe"
                />
            </template>
        </b-row>
    </div>
</template>

<style></style>

<script>
import SkullAttribute from './SkullAttribute.vue';

export default {
    name: 'attribute-exporer',

    components: {
        SkullAttribute
    },

    props: {
        skullData: {
            type: Object,
            required: true
        },
    },

    data() {
        return {
            type: null,
            showWireframe: true
        }
    }
}
</script>