<template>
    <div>
        <b-row class="text-center justify-content-center">
            <b-col cols="12" class="my-4">
                <h1>8U1LD Y0U2 0WN 5KULL</h1>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" md="8">
                <b-container>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="byod-skin">BG:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="byod-bg" 
                                v-model="byodSelected.bg" 
                                text-field="name" 
                                value-field="name" 
                                :options="skullData.bgs" 
                                @change="updateBg" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="byod-skull">Skull:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="byod-skull" 
                                v-model="byodSelected.skull" 
                                text-field="name" 
                                value-field="name" 
                                :options="skullData.skulls" 
                                @change="updateSkull" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="byod-faceacc">Face Accessory:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="byod-faceacc" 
                                v-model="byodSelected.faceacc" 
                                text-field="name" 
                                value-field="name" 
                                :options="skullData.faceaccs" 
                                @change="updateFaceAcc" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="byod-eyeacc">Eye Accessory:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="byod-eyeacc" 
                                v-model="byodSelected.eyeacc" 
                                text-field="name" 
                                value-field="name" 
                                :options="skullData.eyeaccs" 
                                @change="updateEyeAcc" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="byod-headacc">Head Accessory:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="byod-headacc" 
                                v-model="byodSelected.headacc" 
                                text-field="name" 
                                value-field="name" 
                                :options="skullData.headaccs" 
                                @change="updateHeadAcc" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="byod-mouth">Special:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="byod-mouth" 
                                v-model="byodSelected.special" 
                                text-field="name" 
                                value-field="name" 
                                :options="skullData.specials" 
                                @change="updateSpecial" />
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <skull v-if="skullData" cols="12" md="4" :attributes="byod" />
        </b-row>
    </div>
</template>

<style>

</style>

<script>
import Skull from './Skull.vue';

export default {
    name: 'build-your-own',

    components: {
        Skull
    },

    props: {
        skullData: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
            byod: {
                bg: this.skullData.bgs[0],
                skull: this.skullData.skulls[0],
                faceacc: this.skullData.faceaccs[0],
                eyeacc: this.skullData.eyeaccs[0],
                headacc: this.skullData.headaccs[0],
                special: this.skullData.specials[0],
            },

            byodSelected: {
                bg: this.skullData.bgs[0].name,
                skull: this.skullData.skulls[0].name,
                faceacc: this.skullData.faceaccs[0].name,
                eyeacc: this.skullData.eyeaccs[0].name,
                headacc: this.skullData.headaccs[0].name,
                special: this.skullData.specials[0].name,
            }
        }
    },

    methods: {
        updateBg(val) {
            let bg = _.find(this.skullData.bgs, function(o) { return o.name == val; });
            this.byod.bg = bg;
        },

        updateSkull(val) {
            let skull = _.find(this.skullData.skulls, function(o) { return o.name == val; });
            this.byod.skull = skull;
        },

        updateFaceAcc(val) {
            let faceAcc = _.find(this.skullData.faceaccs, function(o) { return o.name == val; });
            this.byod.faceacc = faceAcc;
        },

        updateEyeAcc(val) {
            let eyeAcc = _.find(this.skullData.eyeaccs, function(o) { return o.name == val; });
            this.byod.eyeacc = eyeAcc;
        },

        updateHeadAcc(val) {
            let headAcc = _.find(this.skullData.headaccs, function(o) { return o.name == val; });
            this.byod.headacc = headAcc;
        },

        updateSpecial(val) {
            let special = _.find(this.skullData.specials, function(o) { return o.name == val; });
            this.byod.special = special;
        },

    }
}
</script>