<template>
    <div>
        <b-row class="text-center justify-content-center">
            <b-col cols="12" class="my-4">
                <h1>M1N7</h1>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="text-center">
                <b-button class="mb-4" variant="link" @click="toggleLockTraits">Lock Traits <span v-text="(showLockTraits) ? '[-]' : '[+]'" /></b-button>
            </b-col>
        </b-row>
        <b-row v-if="showLockTraits">
            <b-col class="text-center mb-5">
                <b-container>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="lock-bg">BG:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="lock-bg" 
                                v-model="lockedBg" 
                                text-field="name" 
                                value-field="name" 
                                :options="bgOptions" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="lock-skull">Skull:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="lock-skull" 
                                v-model="lockedSkull" 
                                text-field="name" 
                                value-field="name" 
                                :options="skullOptions" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="lock-faceacc">Face Accessory:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="lock-faceacc" 
                                v-model="lockedFaceacc" 
                                text-field="name" 
                                value-field="name" 
                                :options="faceaccOptions" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="lock-eyeacc">Eye Accessory:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="lock-eyeacc" 
                                v-model="lockedEyeacc" 
                                text-field="name" 
                                value-field="name" 
                                :options="eyeaccOptions" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="lock-headacc">Head Accessory:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="lock-headacc" 
                                v-model="lockedHeadacc" 
                                text-field="name" 
                                value-field="name" 
                                :options="headaccOptions" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="lock-special">Special:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-select 
                                id="lock-special" 
                                v-model="lockedSpecial" 
                                text-field="name" 
                                value-field="name" 
                                :options="specialOptions" />
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="text-center">
                <b-button class="mb-4" variant="link" @click="toggleSetWeightings">Set Weightings % <span v-text="(showSetWeightings) ? '[-]' : '[+]'" /></b-button>
            </b-col>
        </b-row>
        <b-row v-if="showSetWeightings" class="justify-content-center">
            <b-col class="text-center" md="8">
                <b-container>
                    <b-row class="my-1">
                        <b-col sm="4">
                            <label for="lock-bg">Face Accessories:</label>
                        </b-col>
                        <b-col sm="8">
                            <b-form-input 
                                id="lock-bg"
                                v-model="weightingFaceacc"
                                class="custom-input" 
                                max="100"
                                type="number" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="4">
                            <label for="lock-bg">Eye Accessories:</label>
                        </b-col>
                        <b-col sm="8">
                            <b-form-input 
                                id="lock-bg"
                                v-model="weightingEyeacc"
                                class="custom-input" 
                                max="100"
                                type="number" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="4">
                            <label for="lock-bg">Head Accessories:</label>
                        </b-col>
                        <b-col sm="8">
                            <b-form-input 
                                id="lock-bg"
                                v-model="weightingHeadacc"
                                class="custom-input" 
                                max="100"
                                type="number" />
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="4">
                            <label for="lock-bg">Specials:</label>
                        </b-col>
                        <b-col sm="8">
                            <b-form-input 
                                id="lock-bg"
                                v-model="weightingSpecial"
                                class="custom-input" 
                                max="100"
                                type="number" />
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
        </b-row>
        <b-row class="text-center justify-content-center">
            <b-col cols="12" class="my-5">
                <b-button variant="primary" size="lg" @click="mint">M1N7</b-button>
            </b-col>
        </b-row>
        <b-row class="justfy-content-center text-center">
            <skull
                v-for="skull in skulls" 
                :key="skull.id" 
                class="mb-3" 
                cols="12" 
                md="4" 
                lg="3" 
                :attributes="skull"
            />
        </b-row>
        <b-row v-if="skulls.length == 0"> 
            <b-col class="text-center">
                <video
                    style="max-width: 480px" 
                    autoplay 
                    loop 
                    muted 
                    playsinline>
                    <source src="img/1337.mp4" type="video/mp4">
                </video>
            </b-col>
        </b-row>
    </div>
</template>

<style>

</style>

<script>
import Skull from './Skull.vue';

export default {
    name: 'mint',

    components: {
        Skull
    },

    props: {
        skullData: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
            showLockTraits: false,
            showSetWeightings: false,
            skulls: [],
            lockedBg: 'random',
            lockedSkull: 'random',
            lockedFaceacc: 'random',
            lockedEyeacc: 'random',
            lockedHeadacc: 'random',
            lockedSpecial: 'random',
            weightingFaceacc: 30,
            weightingEyeacc: 70,
            weightingHeadacc: 70,
            weightingSpecial: 30
        }
    },

    computed: {
        bgOptions() {
            const options = Object.assign({ random: '[Random]' }, this.skullData.bgs);
            return options;
        },

        skullOptions() {
            const options = Object.assign({ random: '[Random]' }, this.skullData.skulls);
            return options;
        },

        faceaccOptions() {
            const options = Object.assign({ random: '[Random]' }, this.skullData.faceaccs);
            return options;
        },

        eyeaccOptions() {
            const options = Object.assign({ random: '[Random]' }, this.skullData.eyeaccs);
            return options;
        },

        headaccOptions() {
            const options = Object.assign({ random: '[Random]' }, this.skullData.headaccs);
            return options;
        },

        specialOptions() {
            const options = Object.assign({ random: '[Random]' }, this.skullData.specials);
            return options;
        },
    },

    methods: {
        mint() {
            let skullCount = this.skulls.length + 1;
            let skull = {};
            skull.id = skullCount;

            if (this.lockedBg != 'random') {
                skull.bg = this.skullData.bgs[this.lockedBg];
            } else {
                skull.bg = _.sample(this.skullData.bgs);
            }

            if (this.lockedSkull != 'random') {
                skull.skull = this.skullData.skulls[this.lockedSkull];
            } else {
                skull.skull = _.sample(this.skullData.skulls);
            }

            if (this.lockedFaceacc != 'random') {
                skull.faceacc = this.skullData.faceaccs[this.lockedFaceacc];
            } else {
                skull.faceacc = this.randomFaceAcc();
            }

            if (this.lockedEyeacc != 'random') {
                skull.eyeacc = this.skullData.eyeaccs[this.lockedEyeacc];
            } else {
                skull.eyeacc = this.randomEyeAcc();
            }
            
            if (this.lockedHeadacc != 'random') {
                skull.headacc = this.skullData.headaccs[this.lockedHeadacc];
            } else {
                skull.headacc = this.randomHeadAcc();
            }
            
            if (this.lockedSpecial != 'random') {
                skull.special = this.skullData.specials[this.lockedSpecial];
            } else {
                skull.special = this.randomSpecial();
            }

            this.skulls.unshift(skull);
        },

        

        randomFaceAcc() {
            let randInt = Math.floor(Math.random() * 100) + 1;
            if (randInt <= this.weightingFaceacc) {
                return  _.sample(this.skullData.faceaccs);
            } else {
                return this.skullData.faceaccs.none;
            }
        },

        randomEyeAcc() {
            let randInt = Math.floor(Math.random() * 100) + 1;
            if (randInt <= this.weightingEyeacc) {
                return  _.sample(this.skullData.eyeaccs);
            } else {
                return this.skullData.eyeaccs.none;
            }
        },

        randomHeadAcc() {
            let randInt = Math.floor(Math.random() * 100) + 1;
            if (randInt <= this.weightingHeadacc) {
                return  _.sample(this.skullData.headaccs);
            } else {
                return this.skullData.headaccs.none;
            }
        },

        randomSpecial() {
            let randInt = Math.floor(Math.random() * 100) + 1;
            if (randInt <= this.weightingSpecial) {
                return  _.sample(this.skullData.specials);
            } else {
                return this.skullData.specials.none;
            }
        },

        toggleLockTraits() {
            this.showLockTraits = !this.showLockTraits;
        },

        toggleSetWeightings() {
            this.showSetWeightings = !this.showSetWeightings;
        }
    }
}
</script>