<template>
    <div class="img-cont mb-5">
        <div class="img-cont grey-bg">
            <img v-if="!bgMode && showWireframe" data-type="Wireframe" src="img/Wireframe.png">
            <img data-type="BG" :src="attribute.img + '?v=' + Date()">
            <img v-if="bgMode && showWireframe" data-type="Wireframe" src="img/Wireframe.png">
        </div>
        <span class="font-weight-bold">{{ attribute.name }}</span>
    </div>
</template>

<style>
.grey-bg {
    background-color: #bfbfbf;
}
</style>

<script>
export default {
    name: 'skull',

    props: {
        attribute: {
            type: Object,
            required: true
        },
        bgMode: {
            type: Boolean,
            required: true,
            default: false
        },
        showWireframe: {
            type: Boolean,
            required: true,
            default: true
        }
    },

    data() {
        return {
            
        }
    }
}
</script>