<template>
    <div class="img-cont">
        <img data-type="BG" :src="attributes.bg.img">
        <img data-type="Skull" :src="attributes.skull.img">
        <img data-type="FaceAcc" :src="attributes.faceacc.img">
        <img data-type="EyeAcc" :src="attributes.eyeacc.img">
        <img data-type="HeadAcc" :src="attributes.headacc.img">
        <img data-type="Special" :src="attributes.special.img">
    </div>
</template>

<style></style>

<script>
export default {
    name: 'skull',

    props: {
        attributes: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
            
        }
    }
}
</script>