<template>
    <div class="d-flex flex-column h-100">
        <b-navbar class="header" fixed="top" toggleable="lg" type="dark" variant="secondary">
            <b-navbar-brand class="header__brand font-serif text-primary" @click="view = 'mint'">
                1337 Skulls
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse" />

            <b-collapse id="nav-collapse" class="mx-center" is-nav>
                <b-navbar-nav>
                    <b-nav-item class="ml-lg-3 mr-4 header__nav-item" @click="view = 'mint'">M1N7</b-nav-item>
                    <b-nav-item class="ml-lg-3 mr-4 header__nav-item" @click="view = 'build-your-own'">8U1LD Y0U2 0WN</b-nav-item>
                    <b-nav-item class="ml-lg-3 mr-4 header__nav-item" @click="view = 'attributes'">477218U735</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        
        <b-container class="mt-5">
            <attribute-explorer v-if="view == 'attributes'" :skull-data="skullData" />
            <build-your-own v-if="view == 'build-your-own'" :skull-data="skullData" />
            <mint v-if="view == 'mint'" :skull-data="skullMintData" />
        </b-container>

        <footer class="footer mt-auto">
            <div class="container text-center text-white py-3">
                Site by <a style="text-decoration: none" href="http://twitter.com/steverunseth">573V3</a>
            </div>
        </footer>
    </div>
</template>

<script>
import AttributeExplorer from './components/AttributeExplorer.vue';
import BuildYourOwn from './components/BuildYourOwn.vue';
import Mint from './components/Mint.vue';
import JsonBackgrounds from './assets/json/Background.json'
import JsonEyeAccessories from './assets/json/Eye Accessories.json'
import JsonFaceAccessories from './assets/json/Face Accessories.json'
import JsonHeadAccessories from './assets/json/Head Accessories.json'
import JsonSkulls from './assets/json/Skull.json'
import JsonSpecial from './assets/json/Special.json'

export default {
    components: {
        AttributeExplorer,
        BuildYourOwn,
        Mint,
    },

    data() { 
        return {
            view: 'mint',
            skulls: {},
            skullsMint: {},
            none: {
                name: '[None]',
                img: 'img/Transparent.png',
            },
        }
    },

    computed: {
        skullData() {
            return this.skulls;
        },

        skullMintData() {
            return this.skullsMint;
        }
    },

    mounted() {
        // Mint data
        this.skullsMint = {
            bgs: JsonBackgrounds,
            skulls: JsonSkulls,
            faceaccs: JsonFaceAccessories,
            eyeaccs: JsonEyeAccessories,
            headaccs: JsonHeadAccessories,
            specials: JsonSpecial
        }

        this.skullsMint.faceaccs.none = this.none;
        this.skullsMint.eyeaccs.none = this.none;
        this.skullsMint.headaccs.none = this.none;
        this.skullsMint.specials.none = this.none;



        let sortedBackgrounds = _.orderBy(JsonBackgrounds, [a => a.name.toLowerCase()], ['asc']);
        let sortedSkulls = _.orderBy(JsonSkulls, [a => a.name.toLowerCase()], ['asc']);
        let sortedFaceAccessories = _.orderBy(JsonFaceAccessories, [a => a.name.toLowerCase()], ['asc']);
        let sortedEyeAccessories = _.orderBy(JsonEyeAccessories, [a => a.name.toLowerCase()], ['asc']);
        let sortedHeadAccessories = _.orderBy(JsonHeadAccessories, [a => a.name.toLowerCase()], ['asc']);
        let sortedSpecial = _.orderBy(JsonSpecial, [a => a.name.toLowerCase()], ['asc']);

        this.skulls = {
            bgs: sortedBackgrounds,
            skulls: sortedSkulls,
            faceaccs: sortedFaceAccessories,
            eyeaccs: sortedEyeAccessories,
            headaccs: sortedHeadAccessories,
            specials: sortedSpecial
        }

        this.skulls.faceaccs.unshift(this.none);
        this.skulls.eyeaccs.unshift(this.none);
        this.skulls.headaccs.unshift(this.none);
        this.skulls.specials.unshift(this.none);
    },
}
</script>

<style>
</style>
